@import '../../variables.scss';

@mixin workBg($url) {
  background: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div {
  height: 100vh;
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.header {
  margin-top: 150px;
  text-align: center;
  padding: 0 20px;
}

.worksGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 38px;
  max-width: 1320px;
  padding: 39px 20px;
  margin: 0 auto;


@media screen and(max-width:960px) {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
}

.work {
  background: gold;
  height: 25.625rem;
  box-shadow: 0 0 8px 0px rgba(0,0,0,.25);
}

.workBig {
  background: silver;
  grid-column: 1 / span 2;

  @media screen and(max-width:960px) {
    grid-column: auto;
  }

  &2{
    grid-column: 2 / span 2;
    @media screen and(max-width:960px) {
      grid-column: auto;
    }
  }
}

.workOverlay {
  width: 100%;
  height: 100%;
  background: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s;

  &:hover {
    opacity: 1;
    transition: opacity 0.4s;
  }

  &:focus-within {
    opacity: 1;
  }
}

.overlayContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  width: calc(100% - 52px);
  height: calc(100% - 52px);
  border: solid 10px $secondary;
}
.projectTitle {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.moreInfoBtn {
  font-size: 1.25rem;
  font-weight: 700;
  color: $primaryDark;
  background: $secondary;
  border: none;
  padding: 10px 38px;
  transition: padding 0.4s;

  &:hover {
    cursor: pointer;
    background: #fff;
    padding: 10px 50px;
    transition: padding 0.4s;
  }
}

.portfolioHeader {
  padding: 0 20px;
}

.bodyFixed {
  position: fixed;
  width: calc(100% - 17px);

}

.work1 {
  @include workBg("../../assets/images/weatherapp.jpg");

}
.work2 {
  @include workBg("../../assets/images/newsapp.jpg");
}

.work3 {
  @include workBg("../../assets/images/treehouse.jpg");
}

.work4 {
  @include workBg("../../assets/images/lotto.jpg");
}

.work5 {
  @include workBg("../../assets/images/xen.jpg");
}

