@import '../../variables.scss';

.contactParagraph {
  font-size: 1rem;
  font-weight: 700;
}

.header {
  margin-top: 150px;
  text-align: center;
}
.main {
  max-width: 500px;
  margin: 0 auto;
  padding: 100px 5px 0 5px;
}

.list {
  margin-top: 20px;
}

.listElement {
  font-size: 1.25rem;
  padding: 4px 0;
}
.link {
  text-decoration: none;
  font-weight: 700;
  color: $secondaryDark;

  &:hover {
    color: $primary;
  }
}