.button {
  display: inline-flex;
  justify-content: flex-start;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  color: #000;
  margin-top: 66px;
}

.linkIcon {
  margin-left: 23px;
}