@import '../../variables.scss';

.footerText {
  color: #fff;
  opacity: 0.7;
  font-size: 0.75rem;
  text-align: center;
}

.footer {
  padding: 15px 0;
  background: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}